{% extends 'base.html' %}
{% block content %}

<main class="container py-5">
    <section class="card card-body bg-secondary">
        <h1 class="display-1 text-center text-light ">HOME</h1>
        {% for noticia in noticias %}
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-2">
                        <a href="/uploadpdf" class="nav-link"><img src="{{ noticia.imagen.url }}" style="width:100% "  class="img-fluid rounded-start" alt="..."></a>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ noticia.titulo }}</h5>
                            <p class="card-text">{{ noticia.descripcion }}</p>
                            <p class="card-text"><small class="text-muted">Publicado el {{ noticia.fecha_publicacion }}</small></p>
                            {% if user.is_superuser %}
                                <form class="py-2" method="post" action="{% url 'delete_noticia' noticia.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">Eliminar</button>
                                </form>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-id="{{ noticia.pk }}">Edit</button>      
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>

    {% if user.is_superuser %}
    <section class="card card-body">
        <form> 
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#agregarNoticiaModal">Agregar Noticia</button>
        </form>
        

        <div class="modal fade" id="agregarNoticiaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Agregar Noticia</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="titulo" class="form-label">Título:</label>
                                <input type="text" class="form-control" id="titulo" name="titulo">
                            </div> 
                            <div class="mb-3">
                                <label for="descripcion" class="form-label">Descripción:</label>
                                <textarea class="form-control" id="descripcion" name="descripcion" rows="3"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="imagen" class="form-label">Imagen:</label>
                                <input type="file" class="form-control" id="imagen" name="imagen">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary float-start">Agregar Noticia</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
</main>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" enctype="multipart/form-data" action="{% url 'edit_noticia' %}">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="titulo" class="form-label">Título:</label>
                        <input type="text" class="form-control" id="titulo" name="titulo">
                    </div> 
                    <div class="mb-3">
                        <label for="id" class="form-label"></label>
                        <input type="hidden" class="form-control" id="id" name="id">
                    </div>
                    <div class="mb-3">
                        <label for="descripcion" class="form-label">Descripción:</label>
                        <textarea class="form-control" id="descripcion" name="descripcion" rows="3"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="imagen" class="form-label">Imagen:</label>
                        <input type="file" class="form-control" id="imagen" name="imagen">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Editar Noticia</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}

{% block script %}

<!--preparar parametro id notica para poder editar-->
<script>
/*
 * WARNING: The code that follows may make you cry:
 *           A Safety Pig has been provided below for your benefit
 *                              _
 *      _._ _..._ .-',     _.._(`))
 *     '-. `     '  /-._.-'    ',/
 *       )         \            '.
 *      / _    _    |             \
 *     |  a    a    /              |
 *      \   .-.                     ;
 *       '-('' ).-'       ,'       ;
 *          '-;           |      .'
 *            \           \    /
 *            | 7  .__  _.-\   \
 *            | |  |  ``/  /`  /
 *           /,_|  |   /,_/   /
 *              /,_/      '`-'
 */
    $(document).ready(function() {  
        
        
        $('#exampleModal').on('show.bs.modal', function (event) {

                                                                                                                                                                

                        var button = $(event.relatedTarget) 
            var recipient = button.data('id') 
            var modal = $(this)
            modal.find('#id').val(recipient)
        })
    })
</script>

{% endblock %}