{% extends 'base.html' %}
{% block content %}

<main class="container py-3 ">
    <section class="card card-body bg-dark text-light ">
        <h1 class="display-1 text-center">INICIO</h1>
        {% for noticia in noticias %}
        <div >
            <div class="row g-0 m-3 border border-success border-5 card-body text-dark bg-secondary rounded">
                <div class="col-md-2 ">
                    <a href="/uploadpdf" class="nav-link"><img src="{{ noticia.imagen.url }}" style="width:100% "  class="img-fluid rounded" ></a>

                </div>
                <div class="col-md-8 ">
                    <div class="card-body">
                        <h5 class="card-title">{{ noticia.titulo }}</h5>
                        <span class="card-text descripcion">{% autoescape off %}{{ noticia.descripcion|urlize }}{% endautoescape %}</span><br>
                        <small class="card-text">Publicado el {{ noticia.fecha_publicacion }}</small>
                        {% if user.is_superuser %}
                            <form class="py-2" method="post" action="{% url 'delete_noticia' noticia.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Eliminar</button>
                            </form>
                            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#editModal" data-id="{{ noticia.pk }}">Editar</button>
                        {% endif %}
                    </div>
                </div>

        </div>
    {% endfor %}
</section>

{% if user.is_superuser %}
<section class="card card-body bg-dark">
    <form> 
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#agregarNoticiaModal">Agregar Noticia</button>
    </form>
    

    <div class="modal fade" id="agregarNoticiaModal" >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Agregar Noticia</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="titulo" class="form-label">Título:</label>
                            <input type="text" class="form-control" id="titulo" name="titulo">
                        </div> 
                        <div class="mb-3">
                            <label for="descripcion" class="form-label">Descripción:</label>
                            <textarea class="form-control" id="descripcion" name="descripcion" rows="3"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="imagen" class="form-label">Imagen:</label>
                            <input type="file" class="form-control" id="imagen" name="imagen">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary float-start">Agregar Noticia</button>
                    </div>
                </form>
            </div>
        </div>
    </div>




</section>
{% endif %}
</main>

<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" enctype="multipart/form-data" action="{% url 'edit_noticia' %}">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Editar Noticia</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" class="form-control" id="id" name="id">
                    <div class="mb-3">
                        <label for="titulo" class="form-label">Título:</label>
                        <input type="text" class="form-control" id="titulo" name="titulo">
                    </div>
                    <div class="mb-3">
                        <label for="descripcion" class="form-label">Descripción:</label>
                        <textarea class="form-control" id="descripcion" name="descripcion" rows="3"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="imagen" class="form-label">Imagen:</label>
                        <input type="file" class="form-control" id="imagen" name="imagen">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}

{% block script %}
<!--preparar parametro id notica para poder editar-->
<script>
/*
 * WARNING: The code that follows may make you cry:
 *           A Safety Pig has been provided below for your benefit
 *                              _
 *      _._ _..._ .-',     _.._(`))
 *     '-. `     '  /-._.-'    ',/
 *       )         \            '.
 *      / _    _    |             \
 *     |  a    a    /              |
 *      \   .-.                     ;
 *       '-('' ).-'       ,'       ;
 *          '-;           |      .'
 *            \           \    /
 *            | 7  .__  _.-\   \
 *            | |  |  ``/  /`  /
 *           /,_|  |   /,_/   /
 *              /,_/      '`-'
 */
$(document).ready(function() {  
    $('#editModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Botón que activa el modal
        var id = button.data('id'); // Extrae la información del atributo `data-id`

        // Verifica que se ha encontrado un id
        if (id === undefined || id === null) {
            console.error('No se encontró un id en el atributo `data-id` del botón.');
            return;
        }

        var modal = $(this);
        modal.find('#id').val(id); // Asigna el id al campo oculto del formulario

        // Completa otros campos según sea necesario
        var noticiaTitle = button.closest('.card').find('.card-title').text();
        var noticiaDescription = button.closest('.card').find('.card-text').first().text();

        modal.find('#titulo').val(noticiaTitle);
        modal.find('#descripcion').val(noticiaDescription);
    });
});



document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('.descripcion').forEach(function(el) {
        el.innerHTML = convertirEnlaces(el.textContent);
    });

    document.querySelectorAll('[contenteditable]').forEach(function(el) {
        el.addEventListener('blur', function() {
            el.innerHTML = convertirEnlaces(el.textContent);
        });
    });
});

function convertirEnlaces(texto) {
    var patronEnlace = /(\bhttps?:\/\/[^\s]+)/g;
    return texto.replace(patronEnlace, '<br><a class="btn btn-success" href="$1" target="_blank">PDF Inscripción </a>');
}

</script>

{% endblock %}