{% extends 'base.html' %}
{% block content %}
<div class="p-3 text-light">
    <h2>List of PDFs</h2>
    
    <select class="filtrarEvento" id="filtroEvento" name='evento_id'>
        <option value="">All</option>
        {% for evento in eventos %}
            <option value="{{ evento.id }}">{{ evento.nombre }}</option>
        {% endfor %}
    </select>
    <ul>
    {% for pdf in page_obj %}
        <form class="p-2 bg-secondary m-1 text-dark border border-5 border-success rounded">
            <span>Uploaded by: {{ pdf.user.username }}</span>
            <a href="{{ pdf.archivo.url }}">{{ pdf.archivo.name }}</a>
            <span>{{ pdf.evento.nombre }}</span>
            <div class="d-inline">
                {% if user.is_superuser %}
                    <select name="estado" class="actualizarPDF" data-id="{{ pdf.id }}">
                        <option value="aceptado" {% if pdf.estado == 'aceptado' %} selected {% endif %}>Aceptado</option>
                        <option value="pendiente" {% if pdf.estado == 'pendiente' %} selected {% endif %}>Pendiente</option>
                        <option value="rechazado" {% if pdf.estado == 'rechazado' %} selected {% endif %}>Rechazado</option>
                    </select>
                {% else %}
                <span>
                    {{ pdf.estado }}
                </span>
                {% endif %}
            </div>
        </form>
    {% endfor %}
    </ul>
</div>
{% endblock %}

{% block script %}

<script>
$(document).ready(function(){
    var urlParams = new URLSearchParams(window.location.search);
    var eventoId = urlParams.get('evento_id');

    $('#filtroEvento').val(eventoId);

    $('#filtroEvento').change(function(){ 
        if ($(this).val() == ""){
            window.location.href = window.location.pathname;
        }
        else {
            window.location.href = "?evento_id=" + $(this).val();
        }
    });

    $('select.actualizarPDF').on('change', function(){
        var idPDF = $(this).data("id");
        var estadoNuevo = $(this).find('option:selected').val();
        $.ajax({
            url: "{% url 'cambiar_estado_pdf' %}",
            method: "POST",
            data: {
                "pdf_id": idPDF,
                "estado": estadoNuevo
            }
        })
        .done(function(response){
            console.log(response); 
        });
    });
});
</script>
{% endblock %}
