{% extends 'base.html' %}
{% block content %}
    <div class="p-3">
        <h2>List of PDFs</h2>
        {% if user.is_superuser %}
            <select>
                <option value="{{pdf.evento.nombre}}"></option>
                
            </select>
        {% endif %}
        <ul>
        {% for pdf in page_obj %}
            <div class="p-2 bg-dark text-white" >
                <span>Uploaded by: {{ pdf.user.username }}</span>
                <a href="{{ pdf.archivo.url }}">{{ pdf.archivo.name }}</a>
                <span>{{pdf.evento.nombre}}</span>
                    <div class="d-inline">
                        {% if user.is_superuser %}
                            <select name="estado" class="actualizarPDF" data-id="{{ pdf.id }}">
                                <option value="pagado" {% if pdf.estado == 'pagado' %} selected {% endif %}>Pagado</option>
                                <option value="pendiente" {% if pdf.estado == 'pendiente' %} selected {% endif %}>Pendiente</option>
                                <option value="rechazado" {% if pdf.estado == 'rechazado' %} selected {% endif %}>Rechazado</option>
                            </select>
                        {% else %}
                        <span>
                            {{pdf.estado}}
                        </span>
                    {% endif %}
                    </div>
            </div>
        {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function(){
        $('select.actualizarPDF').on('change', function(){

            var idPDF = $(this).data("id");
            var estadoNuevo = $(this).find('option:selected').val();
            $.ajax({
                url: "{% url 'cambiar_estado_pdf' %}",
                method: "POST",
                data: {
                    "pdf_id": idPDF,
                    "estado": estadoNuevo
                }
            })
            .done(function(response){
                console.log(response); 
            });
        });
    });
</script>
{% endblock %}