{% extends 'base.html' %}

{% block content %}

<head>
    <style>
        .valid {
            color: rgb(25, 135, 84);
        }
        .invalid {
            color: rgb(220, 53, 69);
        }
    </style>
</head>

<main class="container">
    <div class="row justify-content-center mt-5 " >
        <div class="col-md-4 ">
            <form method="POST" class="card border-success border-5 card-body text-light bg-dark">
                <h1 class="text-center">CREAR CUENTA</h1>
                {{ error }}
                {% csrf_token %}
                
                <div class="mb-3">
                    <label for="username">Nombre usuario:</label>
                    <input type="text" name="username" id="username" class="form-control" placeholder="Write your user name">
                </div>
                
                <div class= "mb-3">
                    <span id="length" class="invalid">La contraseña debe tener al menos 8 caracteres</span><br>
                    <span id="uppercase" class="invalid">La contraseña debe contener al menos una letra mayúscula</span><br>
                    <span id="lowercase" class="invalid">La contraseña debe contener al menos una letra minúscula</span><br>
                    <span id="number" class="invalid">La contraseña debe contener al menos un número</span><br>
                    <span id="special" class="invalid">La contraseña debe contener al menos un carácter especial <br> . , ; ? & ! " $ % ( ) = + - </span>
                </div>


                <div class="mb-3">
                    <label for="password1">Contraseña:</label>
                    <input type="password" name="password1" id="password1" onkeyup="validatePassword()" class="form-control" placeholder="Escribe tu contraseña">
                </div>
                
                <div class="mb-3">
                    <label for="password2">Contraseña:</label>
                    <input type="password" name="password2" id="password2" class="form-control" placeholder="Confirma tu contraseña">
                </div>
                
                <button type="submit" disabled id="submitBtn" class="btn btn-success">
                    Signup
                </button>
            </form>
        </div>
    </div>
</main>

<script>
    function updateRequirement(id, valid) {
        const requirement = document.getElementById(id);
        if (valid) {
            requirement.classList.add("valid");
            requirement.classList.remove("invalid");
        } else {
            requirement.classList.add("invalid");
            requirement.classList.remove("valid");
        }
    }    
    
    function validatePassword() {
        const password = document.getElementById("password1").value;
        const submitBtn = document.getElementById("submitBtn");
        
        updateRequirement("length", password.length >= 8);
        updateRequirement("uppercase", /[A-Z]/.test(password));
        updateRequirement("lowercase", /[a-z]/.test(password));
        updateRequirement("number", /[0-9]/.test(password));        
        updateRequirement("special", /[.,;?&!"$%()=+-]/.test(password));
        
        submitBtn.disabled = !(document.querySelectorAll('.valid').length === 5);

    }
</script>


{% endblock %}
